@charset "UTF-8";

/* typical divice breakpoints
-------------------------------
pequenas telas: ate 600 pixels
ceular: de 600 pixels ate 768px 
tablet: 768 px ate 992px vamso fazer pra tablet
desktop: 992px ate 12000px  e pra desktop
grandes telas : acima de 1200px
*/

 /* versao para tablet*/@media screen and (min-width:768px) and (max-width:992px) {
     /* colocar um degrader na versao para tablet*/
     html,body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    /*  vamos mudar o tamanho dela */
    section#login{
        width: 
        90vw;
        /*  ficou um pouco maior aqui por pra aparecer em tela de tablet*/
    }
    /* agora vamos colocar uma div ao lado da outra , elas tem que esta em bloco (display:block) para pode funcionar*/
    /* lembrando que essa configuração é pra tablet*/
    section#login > div#imagem{
        float: left;/* colocando uma div na esquerda e outra na direita*/
        width: 30%; /* dando tamanho a imgaem*/
        height: 100%;/* altura da imagem*/
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}
/* vamos fazer uma configuraçaõ de desktop*/

@media screen and (min-width:992px) { /* para desktop essa configuração*/

    html,body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    /* configurando o tamanho da tela de login*/
    section#login{
        width: 950px;/* configuravel aqui*/
    }
    /* configurando a div imagem tamanho e colocando ela ao lado da div formulario*/
    section#login > div#imagem{ /*confirando a imagem*/
        float: right; /* colocando do lado esquerdo*/
        width: 50%; /* largura de 50%*/
        height: 100%; /* altura de 100%*/
    }

    section#login > div#formulario{
        float: left;/* formulario lado esquerdo*/
        width: 50%; /* largura de 50%*/
    }
    /* vamos colocar na css do padrao um animação agora*/
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1em;
         
     }
}

